@tailwind base;
@tailwind components;
@tailwind utilities;

.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff59;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 999999;
}

.loader {
  width: 100%;
  height: 15px;
  text-align: center;
}

.dot {
  position: relative;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  display: inline-block;
}

.dot:first-child:before {
  animation-delay: 0ms;
}

.dot:first-child:after {
  animation-delay: 0ms;
}

.dot:last-child:before {
  animation-delay: 200ms;
}

.dot:last-child:after {
  animation-delay: 200ms;
}

.dot:before {
  content: "";
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: blue;
  animation-name: dotHover;
  animation-duration: 900ms;
  animation-timing-function: cubic-bezier(0.82, 0, 0.26, 1);
  animation-iteration-count: infinite;
  animation-delay: 100ms;
  background: #00433c;
  border-radius: 100%;
}

.dot:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: black;
  box-shadow: 0px 0px 1px black;
  opacity: 0.2;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -2px;
  border-radius: 100%;
  animation-name: dotShadow;
  animation-duration: 900ms;
  animation-timing-function: cubic-bezier(0.82, 0, 0.26, 1);
  animation-iteration-count: infinite;
  animation-delay: 100ms;
}

.instructor-inner-course {
  padding: 0px;
}

.btn-danger-custom {
  border: dashed 1px #ab4040;
  color: #ab4040;
}

.btn-danger-custom:hover {
  border-color: #ff0000 !important;
  color: #ff0000 !important;
}

.btn-primary-border {
  border: dashed 1px #5664d2;
  color: #5664d2;
}

.btn-primary-border:hover {
  border-color: #1b2fc9 !important;
  color: #1b2fc9 !important;
}

.btn-primary-custom {
  display: inline-block;
  padding: 0.47rem 0.75rem;
  background-color: #5664d2;
  color: #fff;
  border-radius: 0.25rem;
}

.image-preview-container {
  padding: 2%;
  margin: 0 auto;
  /* max-width: 600px; */
  /* height: auto; */
  max-height: 20vw;
  width: auto;
  overflow: hidden;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-brand-box {
  width: 11.6vw;
}

.navbar-brand-box.course-content {
  width: 34vw;
}

.navbar-brand-box-collapsed {
  width: 3.50vw;
  display: none;
}

.navbar-brand-box-collapsed .logo-collapsed {
  display: none;
}

.vertical-menu-collapsed {
  width: 3.50vw;
}

.vertical-menu-course-collapsed {
  width: 0px;
}

.vertical-menu-course-content {
  width: 35%;
}

.main-content-collapsed {
  margin-left: 3.50vw !important;
}

.main-content-enrolled {
  margin-left: 35%;
  position: relative;
  overflow: hidden;
}

.main-content-enrolled-collapsed {
  margin-left: 2.50vw;
}

.uploaded-file-thumbnail {
  position: relative;
  width: 50px;
  height: 50px;
}

.uploaded-file-thumbnail img {
  width: 100%;
}

.uploaded-file-thumbnail svg {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
}

.uploaded-video-thumbnail {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-custom-style {
  width: 50vw !important;
}

/* React Quill Styles */


@keyframes dotShadow {
  0% {
    transform: scaleX(1);
  }
  50% {
    opacity: 0;
    transform: scaleX(0.6);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes dotHover {
  0% {
    top: 0px;
  }
  50% {
    top: -50px;
    transform: scale(1.1);
  }
  100% {
    top: 0;
  }
}